.img-logo {
    width: 35px;
}

.navbar-brand {
    padding: 6px;
}

.navbar-default {
    margin-bottom: 0px;
    padding-right: 5px;
}

.carousel-width {
    width: 100%;
}

.foot-color { 
    background-color: #0060a8;
    padding-bottom: 10px;
    color: white;
}

.copy-center {
    text-align: center;
    padding-top: 10px;
}

.noticias-dest {
    padding-bottom: 15px;
}

.foot-list {
    list-style: none;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    display:block;
}

.contacto-pad {
    padding-top: 30px;
}

.noticias-pad {
    padding: 30px auto;
}